body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  transition: background 0.15s ease-in;
  max-width: 100%;
  overflow-x: hidden;
}
.main-title {
  font-weight: 800;
}
.sub-text {
  font-family: "Calibre Web", sans-serif;
}
@keyframes wobble {
  from {
    transform: none;
  }
  15% {
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -10deg);
  }
  30% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 8deg);
  }
  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -10deg);
  }
  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 5deg);
  }
  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  to {
    transform: none;
  }
}
.blue {
  color: #2267ff;
}
.bg-blue {
  background: #2267ff;
}
.button-font {
  font-size: 0.75rem;
  text-transform: uppercase;
  line-height: 300%;
  display: inline-block;
  letter-spacing: 0.5px;
  padding: 0 16px;
  font-weight: 700;
}
a {
  text-decoration: none;
  position: relative;
}
@-webkit-keyframes highlight {
  0% {
    width: 0;
  }
  100% {
    width: calc(100% + 10px);
  }
}
@-moz-keyframes highlight {
  0% {
    width: 0;
  }
  100% {
    width: calc(100% + 10px);
  }
}
@-o-keyframes highlight {
  0% {
    width: 0;
  }
  100% {
    width: calc(100% + 10px);
  }
}
@keyframes highlight {
  0% {
    width: 0;
  }
  100% {
    width: calc(100% + 10px);
  }
}
::-moz-selection {
  background: #5c28df;
  color: #fff;
}
.svg-icon {
  color: #fff;
  height: 12px;
  padding-left: 5px;
}
.blue-link {
  color: #828997;
}
.f6 svg {
  padding-right: 15px;
}
body {
  font-family: Blacker, arial, sans-serif;
}
h1 {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 30px;
}
a {
  display: inline-block;
  text-decoration: underline;
  color: #000;
  line-height: 1.5;
}
@keyframes cylon {
  0% {
    left: 0;
    width: 2px;
  }
  25% {
    width: 10px;
  }
  50% {
    left: 100%;
    width: 2px;
  }
  75% {
    width: 10px;
  }
  100% {
    left: 0;
    width: 2px;
  }
}
svg {
  color: #828997;
}
::selection {
  color: #fff;
  background: #000;
}
.social-icon {
  display: flex;
  width: 30px;
  height: auto;
  margin-right: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
a:hover {
  outline: 0;
}
.project {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 80px;
  overflow: hidden;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: transform 0.14s ease;
  transition: transform 0.14s ease;
}
.project.dark > .info p {
  color: rgba(0, 0, 0, 0.88);
}
.project:after,
.r1 {
  border-radius: 12px;
}
.project-card {
  background-color: #7735f6;
}
.sand {
  background-color: #242424 !important;
}

.pink{
  background-color: #f55555;
}
.project {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 80px;
  overflow: hidden;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: transform 0.14s ease;
  transition: transform 0.14s ease;
}
.project > .info {
  max-width: 310px;
  pointer-events: auto;
}
.project > .image {
  position: absolute;
  content: " ";
  top: 50px;
  right: -10px;
  height: 115%;
  width: 50%;
  border-radius: 0.5rem;
  background-size: cover;
  background-position: left -48px;
  background-repeat: no-repeat;
  -webkit-transition: height 0.4s ease;
  transition: height 0.4s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
.project.dark > .info p {
  color: rgba(255, 255, 255, 0.88);
}
.project:after {
  content: " ";
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}
.project:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}
.project + .project {
  margin-top: 32px;
}
@media (max-width: 800px) {
  .project {
    padding: 48px 32px;
    width: calc(100%);
    -webkit-transform: scale(1) !important;
    transform: scale(1) !important;
  }
  .project,
  .project:after {
    border-radius: 3;
  }
  .project .image {
    display: none;
  }
  .project + .project {
    margin-top: 1rem;
  }
}
.button {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  padding: 12px 16px;
  border-radius: 3px;
  -webkit-transition: background-color 80ms ease;
  transition: background-color 80ms ease;
  background-color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
}
.button.light {
  background-color: rgba(0, 0, 0, 0.1);
}
.light svg {
  color: #fff !important;
}
.light svg:hover {
  color: #fff !important;
}
.margin-reset {
  margin: 0;
}
.block h4 {
  padding-bottom: 1.5rem;
}
.info > h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #fff;
}
.ml3 {
  color: #fff;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
h2 {
  font-weight: 900;
  text-decoration: underline;
}
h1 {
  font-weight: 800;
}
h3 {
  font-weight: 800;
}
.sub-section h1 {
  padding-bottom: 0;
}

label{
background-color: #000;
color: #fff;
font-weight: 800;
padding: .4rem .8rem;
border-radius: .3rem;

font-family: 'Montserrat', sans-serif;

}

.block p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: medium;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.sub-section h2 {
  font-family: "Calibre Web";
  font-weight: 600;
  margin: 0;
  padding-bottom: 0;
}
.social {
  height: 25px;
  width: 25px;
}
.light {
  color: #000 !important;
}
.light-p {
  color: rgba(0, 0, 0, 0.88);
}
.main-title {
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  transform: translateY(-50px);
  opacity: 0;
  animation-name: titleAnimation;
  animation-timing-function: ease;
  animation-duration: 3s;
}
.main-title {
  animation-delay: 0.6s;
  -webkit-animation-fill-mode: forwards;
}
.main-title:first-child {
  animation-delay: 0.7s;
}
.main-title:last-child {
  animation-delay: 0.5s;
}
@keyframes titleAnimation {
  0% {
    transform: translateY(-50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  20% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  80% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
}

.hire-me {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: 0.1s;
  transition: 0.1s;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 5px 10px 6px;
  border-radius: 4px;
  margin-right: 5px;
  font-size: 1rem;
}
